.main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.left{
    width: 100%;
    text-align: center;
    background: var(--card-background-color);
    margin: 8px;
    border-radius: 20px;
    color: var(--text-color);

}

.border{
    width: 30%;
    margin: 20px;
    background-image: var(--border-background-color);
    border-radius: 20px;
    transition: all .3s;
    box-shadow: var(--card-shadow-background);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 500px;
    width: 0;
    border: 1px solid var(--text-color);
}

.right{
    width: 60%;
    margin-left: 50px;
    color: var(--text-color);
}

.overview{
    text-align: center;

}

.frame{
    text-align: center;
}

.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.img{
    margin-bottom: 10px;
    border-radius: 20px;
}

.genres{
    display: flex;
    justify-content: center;
    align-items: center;

}