.movieBg{
    width: 20%;
    margin: 10px;
    background-image: var(--border-background-color);
    border-radius: 20px;
    transition: all .3s;
}

.movie {
    width: 100%;
    border-radius:20px;
    transition: all .2s;
    background: var(--card-background-color);
    text-align: center;
    box-sizing: border-box;
    color: var(--text-color);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieBg:hover{
    box-shadow: var(--card-shadow-background);
    transform: translateY(-10px);
}

.movie:hover{
    transform: scale(0.98);
    border-radius: 20px;
}

.linkDiv{
margin: 10px;
}

.link{
    color: var(--text-color);
    font-size: 20px;
}

.link:hover{
    color: var(--link-color);
}

